<nav class="ch-pagination" role="navigation" aria-label="Pagination Navigation">
  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

    <ul class="ch-pagination__list govuk-body" role="navigation">



          <li class="ch-pagination__item ch-pagination__item--active">
            <span aria-current="true">1</span>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=2" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 2">
              2</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=3" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 3">
              3</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=4" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 4">
              4</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=5" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 5">
              5</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=6" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 6">
              6</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=7" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 7">
              7</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=8" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 8">
              8</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=9" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 9">
              9</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=10" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 10">
              10</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=11" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 11">
              11</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=12" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 12">
              12</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=13" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 13">
              13</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=14" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 14">
              14</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=15" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 15">
              15</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=16" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 16">
              16</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=17" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 17">
              17</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=18" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 18">
              18</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=19" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 19">
              19</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=20" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 20">
              20</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=21" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 21">
              21</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=22" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 22">
              22</a>
          </li>



          <li class="ch-pagination__item">
            <a href="?page=23" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to Page 23">
              23</a>
          </li>



        <li class="ch-pagination__item">
          <a href="?page=2" class="ch-pagination__link govuk-link--no-visited-state ch-pagination-next">Next
            <span class="govuk-visually-hidden">
              set of pages</span></a>
        </li>

    </ul>

</nav>
