{% extends "layout-wider.html" %}
{% block pageTitle %}
  Overview - Dissolution support console - Companies House Internal Service
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">



      <div class="govuk-grid-column-full">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-visually-hidden" for="search">
            Search
            </label>
          </h1>
          <input class="govuk-input govuk-!-width-one-half" id="event-name" name="search" type="text">
          <button class="govuk-button" data-module="govuk-button">
            Search
          </button>
        </div>


        <h3 class="info result-count govuk-heading-m govuk-!-font-weight-regular" id="result-count" aria-live="assertive">Showing 50 of 1,511 companies on 32 pages</h3>
        <table class="govuk-table" id="all-cases-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col" style="width:70%;">Company</th>
              <th class="govuk-table__header" scope="col" style="width:20%;">Presenter</th>
              <th class="govuk-table__header" scope="col" style="width:4%;">Started</th>
              <th class="govuk-table__header" scope="col" style="width:6%">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="company">ACME LIMITED (01234567)</a></th>
              <td class="govuk-table__cell"><a href="javascript:void(0)">jbloggs@acme.co.uk </a><span class="govuk-visually-hidden">Associated CHS account</span><strong class="chs-email">◀︎</strong></td>
              <td class="govuk-table__cell">08/12/2021</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--turquoise">Partly signed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="javascript:void(0)">BANANA LIMITED (06675467)</a></th>
              <td class="govuk-table__cell"><a href="javascript:void(0)">accountant@banana.co.uk</a></td>
              <td class="govuk-table__cell">08/12/2021</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">All signed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="javascript:void(0)">A TEST COMPANY LIMITED (0755436)</a></th>
              <td class="govuk-table__cell"><a href="javascript:void(0)">person@test.co.uk</a><span class="govuk-visually-hidden">Associated CHS account</span><strong class="chs-email">◀︎</strong></td>
              <td class="govuk-table__cell">08/12/2021</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">Paid</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="javascript:void(0)">ANOTHER TEST COMPANY BUT WITH A VERY LONG NAME THAT GOES ACROSS MORE THAN ONE LINE LIMITED (01667899)</a></th>
              <td class="govuk-table__cell"><a href="javascript:void(0)">accountants@gmail.com</a></td>
              <td class="govuk-table__cell">07/12/2021</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Processing</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="javascript:void(0)">CARROT LIMITED (09876654)</a></th>
              <td class="govuk-table__cell"><a href="javascript:void(0)">accountantj@apple.com</a></td>
              <td class="govuk-table__cell">07/12/2021</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Accepted</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="javascript:void(0)">DANCING DANCING DANCING LTD (03345630)</a></th>
              <td class="govuk-table__cell"><a href="javascript:void(0)">janedoe@yahoo.co.uk</a></td>
              <td class="govuk-table__cell">07/12/2021</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Processing</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="javascript:void(0)">EAGLE MAGAZINE LIMITED (00897667)</a></th>
              <td class="govuk-table__cell"><a href="javascript:void(0)">jbloggs@acme.co.uk</a></td>
              <td class="govuk-table__cell">06/12/2021</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="javascript:void(0)">FRENCH LTD (01123000)</a></th>
              <td class="govuk-table__cell"><a href="javascript:void(0)">business@microsoft.co.uk</a><span class="govuk-visually-hidden">Associated CHS account</span><strong class="chs-email">◀︎</strong></td>
              <td class="govuk-table__cell">06/12/2021</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Accepted</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="javascript:void(0)">GANGAM STYLE LIMITED (01245645)</a></th>
              <td class="govuk-table__cell"><a href="javascript:void(0)">accountant@hello.co.uk</a></td>
              <td class="govuk-table__cell">05/12/2021</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Accepted</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="javascript:void(0)">HOTEL STYLE LIMITED (00087678)</a></th>
              <td class="govuk-table__cell"><a href="javascript:void(0)">accountant@hello.co.uk</a></td>
              <td class="govuk-table__cell">26/11/2021</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Accepted</strong></td>
            </tr>
    </tbody>
        </table>
        <div class="govuk-grid-row ch-pagination-container">
          <div class="govuk-grid-column-one-third">
            {% include "includes/pagination-views-per-page.html" %}
          </div>
          <div class="govuk-grid-column-two-thirds">
            {% include "includes/pagination-links.html" %}
          </div>
        </div>
      </div>
    </div>

{% endblock %}
