{% extends "layout.html" %}
{% block pageTitle %}
  {{word}}
  COMPANY NAME (01234567) - Dissolution support console - Companies House Internal Service
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "all"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <h1 class="govuk-heading-xl">{{word}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Added by"
            },
            value: {
              text: "rdavies@companieshouse.gov.uk "
            }
          },
          {
            key: {
              text: "Date added"
            },
            value: {
              text: "02/03/2016"
            }
          },
          {
            key: {
              text: "Removed by"
            },
            value: {
              html: "ddavies@companieshouse.gov.uk"
            }
          },
          {
            key: {
              text: "Date removed"
            },
            value: {
              html: "25/04/2021"
            }
          }
        ]
      }) }}
      {{ govukButton({
        text: "Delete application",
        href: "delete-word?word=" + word + '',
        classes: "govuk-button--warning"
      }) }}

      {{ govukTable({
        caption: "History",
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "Date"
          },
          {
            text: "Updated by"
          },
          {
            text: "Super restricted?"
          }
        ],
        rows: [
          [
            {
              text: "02/04/2020"
            },
            {
              text: "sberry@companieshouse.gov.uk"
            },
            {
              text: "Yes"
            }
          ],
          [
            {
              text: "03/05/2019"
            },
            {
              text: "sberry@companieshouse.gov.uk"
            },
            {
              text: "No"
            }
          ],
          [
            {
              text: "22/08/2016"
            },
            {
              text: "sberry@companieshouse.gov.uk"
            },
            {
              text: "Yes"
            }
          ]
        ]
      }) }}
    </div>
  </div>
{% endblock %}
