{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts
{% endblock %}

{% block content %}

  <main id="content" role="main">
    <span class="govuk-caption-xl">Shortcuts</span>
    <h1 class="govuk-heading-xl">
      Version 1
    </h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <h2 class="govuk-heading-m">
            Sub-heading
          </h2>

          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="sign-in">Sign in</a>
            </li>
          </ul>


          <h2 class="govuk-heading-m">
            Sub-heading
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="javascript:void(0)">
              A link
              </a>
            </li>

            </ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-m">
            Older versions
          </h2>
          <ul class="govuk-list">
            <li><a href="javascript:void(0)">Older version of this prototype</a>
  </ul>

            </div>
        </div>
    </main>

  {% endblock %}
